<app-navbar></app-navbar>

<section class="projects-section bg-light" id="projects" style="background-color: rgba(0,0,0,0.5) !important; margin-right: 1%; margin-left: 1%; border-radius: 5px; margin-top: 10%; margin-bottom: 40%;">   
    <div class="container px-4 px-lg-5" id="div1" style="margin-top: 3rem;"></div>
    <div class="container px-4 px-lg-5" style="max-width: 100%;">
        <div class="row gx-4 gx-lg-5">
            <div class=" mb-3 mb-md-0" id="tela1" style="width: 100%;">
                <div class="card py-4 h-100" style="padding: 0px !important; background-color: rgba(0,0,0,0);">
                    <div class="card-body text-center" style="padding: 0px;">
                        <div style="padding:0; text-align: left;">
                            <div class="col-xl-8 col-lg-7" style="width: 100%;padding-top: 3%; padding-bottom: 1%; text-align: left; padding-left: 0; ">
                                <h4 style="color:#bfbfbf; font-size: small; padding-left: 0;">Olá.</h4>
                            </div>
                            <div class="col-xl-8 col-lg-7" style="width: 100%;padding-top: 1%; padding-bottom: 5%; text-align: left; padding-left: 0;">
                                <h4 style="color:#bfbfbf; font-size: small; padding-left: 0;">No momento este serviço apenas está disponível de maneira presencial. Por favor, dirija-se ao nosso ponto de atendimento no endereço: Rua Martinho Lutero - 71.</h4>
                                <h4 style="color:#bfbfbf; font-size: small; padding-top: 1%; padding-left: 0;">Agradecemos por sua preferencia.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>