<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow mb-5">
  <div class="container navbartop">
    <a class="navbar-brand" routerLink="/" style="font-weight: bold; color: #bfbfbf;">
      LINC<!-- <img src="assets/logo-my-movies.png" height="50"> -->
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/movies" style="font-weight: bold; color: #bfbfbf;"><!--◈-->✧ LOJA & SERVIÇOS</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/about" style="font-weight: bold; color: #bfbfbf;"><!--ⓘ-->✧ CADASTRO</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/about" style="font-weight: bold; color: #bfbfbf;"><!--ⓘ-->✧ LOGIN/LOGOUT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!--
<div class="">
  <router-outlet></router-outlet>
</div>
-->