
<div class="text-center jumbotron jumbotron-fluid mt-3 rounded shadow-lg footer1" style="margin-bottom: 5rem; display: flex; flex-direction: column; justify-content: center;">
  <div class="container footer2" style="text-align: left; margin: 1rem 1rem 2rem 1rem; padding: 0;">
    <small class="display-5" style="font-weight: bold;"> |  INFORMAÇÕES  |</small>
  </div> 
  <div class="container footer2" style="text-align: left; margin: 0.5rem 0 0.5rem 1rem; padding: 0;">
    <small class="display-5">Celular: |  +55(83)98177-0681  |</small>
  </div>  
  <div class="container footer2" style="text-align: left; margin: 0.5rem 0 0.5rem 1rem; padding: 0;">
    <small class="display-5">Email: |  ismaelnc0@gmail.com  |</small>
  </div>
  <div class="container footer2" style="text-align: left; margin: 0.5rem 0 0.5rem 1rem; padding: 0;">
    <small class="display-5">Endereço: |  Rua: Matinho Lutero-71; PB-JP  |</small>
  </div>
</div>