<div class="div0">
    <div class="div1">    
        <div class="box">
            <h3>LINC</h3>
            <form (ngSubmit)="onSubmit()" #userForm="ngForm">
                <div class="div3" >
                    <input id="nome" type="text" name="cliente.usernameCliente" [(ngModel)]="cliente.usernameCliente">
                    <input type="password" name="cliente.passwordCliente" [(ngModel)]="cliente.passwordCliente">
                </div>
                <button type="submit" >ENTRAR</button>
            </form>
            <a href="/#"><p>cadastre-se</p></a>
        </div>
    </div>
    <div class="div2">
        <div class="div4">
            <small>{{ cliente.usernameCliente }}</small><br>
            <small class="small1">{{ cliente.passwordCliente }}</small>
            <h1>Autenticação</h1>
            <p>Esta sessão permite a navegação avançada do sistema. Por favor, insira os dados de autenticação.</p>
        </div>
    </div>
</div>